.nav {
  background-color: #16213e;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav ul {
  list-style: none;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0;
}
li {
  font-size: 25px;
}

.containerm {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 400px;
}
input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.btn-primary {
  width: 100%;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.tb {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 60%;
}
.btn {
  display: flex;
  justify-content: space-evenly;
}
